*  { margin: 0; box-sizing: border-box; }

body {
    font-size: 16px;
    line-height: 32px;
    font-family: sans-serif;
    color: black;
}

h1 {
    font-size: 26px;
    color: whitesmoke;
}

h2 {
    font-size: 18px;
    text-align: center;
    border-bottom: 1px solid #bbb;
}

header, main, footer {
    margin: 1.25rem auto;
    padding: .5rem;
    max-width: 550px;
}

header, footer, footer a {
    text-align: center;
    background-color: rgb(32, 55, 100);
    color: whitesmoke;
}

header img {
    width: 150px;
    height: auto;
    float: right;
}

footer {
    font-size: 14px;
}