/* Large screen size */

@media only screen and (min-width: 1000px) {

  main {
    padding-left: 200px;
    padding-right: 200px;
  }

  h2 {
    font-size: 40px;
  }

  .mainMenu {
    flex-direction: row;
  }

  .mainMenu li:first-child {
    display: none;
  }

  .mainMenu li {
    display: block;
    flex: 1 1 auto;
  }

  #fiveDayForecast {
    display: unset;
  }

  #article {
    overflow: auto;
  }

  #articleImage {
    float: right;
    width: 50%;
    padding: 30px;
  }

  #eventCalendar {
		display: unset;
	}
	
	#eventImage { 
		display: unset;
	}

	#eventGrid {
		width: 70%;
		grid-template-areas:
      'image image event1 event1 event1 event1'
      'image image event2 event2 event2 event2'
      'image image event3 event3 event3 event3';
	}

  #contactInfo {
    overflow: auto;
    text-align: left;
    margin: 15px 100px 0px 100px;
  }
  
  #mapLarge {
    display: unset;
    float: right;
    width: 50%;
    padding-right: 150px;
  }

  #mapSmall {
    display: none;
  }

  footer {
    margin: 0px 100px 50px 100px;
  }

  /* Gallery images */

  .imageContainer {
    grid-template-columns: repeat(3, 1fr);
  }

  .imageBox {
    font-size: 100%;
  }

  .imageBox:hover {
    box-shadow: 0 0 50px #333;
  }

  /* Index page town data */

  .townData {
    grid-template-columns: repeat(3, 1fr);
  }

  .townData div {
    width: 100%;
    height: 600px;
  }

}