/* General settings for all sizes */

body {
	font-family: 'Raleway', sans-serif;
	font-size: 100%;
}

header {
	background-color: #2e4045;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: auto;   
}

#logo {
	height: 15%;
	width: 15%;
	margin: auto;
	padding-right: 20px;
	vertical-align: middle;
}

h1 {
	font-size: 50px;
	text-align: center;
	margin: 0;
	padding-top: 20px;
	color: #83adb5;
}

#motto {
	font-family: 'Raleway', sans-serif;
	font-size: 20px;
	margin: 0;
	padding-top: 10px;
	padding-bottom: 25px;
	color: #0892d0;
}

main {
	padding: 20px;
}

h2 {
	text-align: center;
 	margin: 0;
  padding-bottom: 20px;
	color: #2e4045;
}

nav {
	margin: 0 auto;
	background-color: #4b86b4;
}
  
.mainMenu {
	list-style: none;
	text-align: center;
	margin: 0;
	padding: 0;

	display: flex;
	flex-direction: column;
}
  
.mainMenu li:first-child {
	display: block;
}
  
.mainMenu li {
	display: none;    
}
  
.mainMenu a {
	display: block;
	color: #000;
	padding: 14px 16px;
	text-align: center;
	text-decoration: none;
}
  
.mainMenu a:hover {
	background-color: #2e4045;
	color: white;
}
  
#active {
	background-color: #2e4045;
	color: white;
}
  
.responsive li {
	display: block;
}

#weatherSummaryBox {
	margin: 10px auto;
	position: relative;
}

.heroImage {
	display: block;
	width: 100%;
	margin: auto;
}

#weatherSummary {
	position: absolute;
	top: 10px;
	margin: 30px;
	background-color: #A5CBF4;
	padding: 15px;
	text-align: left;
	opacity: 0.9;
}

#weatherSummary h3 {
	margin: 0;
	padding-bottom: 5px;
}

#fiveDayForecast h3 {
	font-size: 30px;
	text-align: center;
}

#forecastTable {
	border: 1px solid black;
	border-collapse: collapse;
	text-align: center;
	margin: auto;
}

#forecastTable td {
	padding: 25px;
	border: 1px solid black;
}

#forecastTable th {
	padding: 15px;
	background-color: #A5CBF4;
	border: 1px solid black;;
}

.forecastIcon {
	height: 60px;
	padding-bottom: 10px;
}

#article {
	background-color: #4b86b4;
	margin-top: 30px;
	padding: 30px;
}
  
article h3 {
	
	padding-top: 35px;
  	padding-left: 20px;
  	padding-bottom: 5px;
  	margin: 0;
}
  
article h4 {
	padding-left: 20px;
	font-style: italic;
	margin: 0;
}

#articleImage {
	display: block;
	width: 100%;
	margin: auto; 
}

article p {
	padding-left: 20px;
}

#contactInfo {
	background-color: #2e4045;
	color: #83adb5;
	margin-top: 15px;
	padding: 30px;
}

#contact h4 {
	font-size: 150%;
	margin: 0;
}

#mapSmall {
	display: block;
	width: 100%;
	margin: auto;
	padding-top: 20px;
}

footer {
	background-color: #4b86b4;
	padding: 1px;
	text-align: center;
	vertical-align: middle;
	font-size: 15px;
	color: white;
}

/* Gallery images */

* {
	box-sizing: border-box;
}

.imageContainer {
	width: 90%;
	margin: auto;
	display: grid;
	grid-template-columns: 1fr;
	grid-auto-rows: minmax(100px, auto);
	justify-items: center;
}

.imageContainer div {
	padding: 1em;
}

.imageBox {
	font-size: 125%;
	text-align: center;
	padding: 15px;
}

.imageBox img {
	width: 100%;
}

/* Storm Center */         
       
.formcontainer {

	display: flex;
	padding: 15px;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	min-height: 100%;
	font-family: 'Ubuntu', sans-serif;
}

input[type=text], 
input[type=email],
input[type=tel],
input[type=number],
input[type=date],
input[list="storms"],
select[name="regions"] {
	width: 40%; 
	padding: 15px;
	margin: 2px 0 22px 0;
	display: inline-block;
	border: none;
	background: #f1f1f1;
}

input[type="range"] {
	width: 40%; 
	padding: 15px;
	margin: 2px 0 0 0;
}

input[type=radio],
textarea {
	width: 40%;
	margin: 5px 0 8px 0; 
	padding: 40px;
	display: inline-block;
}

.submitbtn {
	color: white;
	white-space: nowrap;
	background-color: black;
	padding: 10px 20px;
	border: 0;
	border-radius: $border-radius;
	transition: all 150ms ease-out;
}

.submitbtn:hover {
	background-color: darken;
	font-weight: 700;
}

/* Thank you page */  

.thanks {
	z-index: 10;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translateX(-50%) translateY(-50%) scale(.8);
	text-align: center;
}

.thanks h3 {
	font-family: "Montserrat";
	font-weight: 200;
	font-size: 20px;
	padding: 0;
	margin: 0;
	line-height: 1;
	color:black;
	letter-spacing: 2px;
}

.thanks h2 {
	font-family: 'Lato', sans-serif;
	font-size: 14px;
	font-weight: 400;
	font-style: italic;
	padding: 0;
	margin: 4px 0 0 0;
	line-height: 1;
	color: black;
	letter-spacing: 2px;
}

/* Small screen size */

@media only screen and (max-width: 600px) {
	
	#fiveDayForecast {
		display: none;
	}

	#mapLarge {
		display: none;
	}

	#contactInfo {
		text-align: center;
	}
}