table {

    font-family: 'Ubuntu', sans-serif;
    text-align: center;
    box-shadow: 6px 5px 5px #628ca6;
}

table, th, td {
    border: 1px solid grey;
    border-collapse: collapse;
}

th, td {
    font-size: 150%;
    padding: 8px;
}

thead tr:first-child {
    background-color: #7fb9c2;
    color: black;
    font-size: 140%; 
}

thead {
    background-color: #628ca6;
    color: white;
    font-size: 110%;
    font-weight: bolder;
}

tbody tr:nth-child(even) {
    background-color: #e7ffed;
}

tbody tr:nth-child(odd) {
    background-color: #e7f0ed;
}

.highlight {
    background-color: #628ca6;
    color: white;
}

tbody tr:nth-child(5) td:first-child {
    font-style: italic;
}

tfoot {
    background-color: #7fb9c2;
    font-size: 78%;
}