/* Large screen size */

@media only screen and (min-width: 800px) {

    main {
      padding-left: 200px;
      padding-right: 200px;
    }
  
    h2 {
      font-size: 40px;
    }
  
    ul {
      overflow: hidden;
    }

    li {
      display: inline;
    } 
    
    li a {
      display: inline-block;
    }

    #mainMenu {
      display: block;
    }

    #menuButton {
      display: none;
    }

    #article {
      overflow: auto;
    }

    #articleImage {
      float: right;
      width: 50%;
    }
  }