/* Large screen size */

@media only screen and (min-width: 800px) {

    ul {
      overflow: hidden;
    }

    li {
      display: inline;
    } 
    
    li a {
      display: inline-block;
    }

    #mainMenu {
      display: block;
    }

    #menuButton {
      display: none;
    }
  }