/* Large screen size */

@media only screen and (min-width: 800px) {

    ul {
        overflow: hidden;
        display: inline-block;
    }

    li {
      float: left;
    } 
    
    li a {
      text-align: center;
    }

    #mainMenu {
      display: block;
    }

    #menuButton {
      display: none;
    }
  }