/* General settings for all sizes */

body {
	font-family: 'Raleway', sans-serif;
	font-size: 100%;
}

header {
	margin: auto;
    padding: 10px;
	font-family: 'Raleway', sans-serif;
	background-color: #2e4045;
	text-align: center;
}

#logo {
	margin: auto;
	padding-right: 20px;
	vertical-align: middle;
}

h1 {
	font-size: 50px;
	text-align: center;
	margin: 0;
	padding-top: 20px;
	color: #83adb5;
}

#motto {
	font-family: 'Raleway', sans-serif;
	font-size: 20px;
	margin: 0;
	color: #0892d0;
}

main {
	padding: 20px;
}

h2 {
	text-align: center;
	color: #2e4045;
}

ul {
	font-family: 'Raleway', sans-serif;
	text-align: center;
	list-style-type: none;
	margin: 0;
	padding: 0;
	background-color: #4b86b4;
	display: block;
}

li a {
	display: block;
	color: #000;
	padding: 14px 16px;
	text-decoration: none;
}

li a:hover {
	background-color: #2e4045;
	color: white;
}

#active {
	background-color: #2e4045;
	color: white;
}

#weatherSummaryBox {
	margin: 10px auto;
	position: relative;
}

#heroImage {
	display: block;
	width: 100%;
	margin: auto;
}

#weatherSummary {
    position: absolute;
    top: 10px;
    margin: 30px;
    background-color: #A5CBF4;
    padding: 15px;
	text-align: left;
	opacity: 0.8;
}

#article {
	background-color: #4b86b4;
	margin-top: 30px;
	padding: 30px;
}
  
article h3 {
	
	padding-top: 35px;
  	padding-left: 20px;
  	padding-bottom: 5px;
  	margin: 0;
}
  
article h4 {
	padding-left: 20px;
	font-style: italic;
	margin: 0;
}

#articleImageSmall {
	display: block;
	width: 100%;
	margin: auto; 
}

article p {
	padding-left: 20px;
}

#contactInfo {
	background-color: #2e4045;
	color: #83adb5;
	margin-top: 30px;
	padding: 30px;
	text-align: center;
}

#contact h4 {
	font-size: 150%;
	margin: 0;
}

#map {
	display: block;
	width: 100%;
	margin: auto;
	padding-top: 20px;
}

footer {
	background-color: #4b86b4;
	padding: 1px;
	text-align: center;
	vertical-align: middle;
	font-size: 20px;
	color: white;
}

/* Small screen size */

@media only screen and (max-width: 800px) {

	#mainMenu {
		display: none;
	}

	#menuButton {
		display: block;
	}

	#fiveDayForecast {
		display: none;
	  }

	#articleImageLarge {
		display: none;
	}

}