/* General settings for all sizes */

body {
	font-family: 'Raleway', sans-serif;
	font-size: 100%;
}

header {
	margin: auto;
    padding: 10px;
	font-family: 'Raleway', sans-serif;
	background-color: #2e4045;
	text-align: center;
}

#logo {
	margin: auto;
	padding-right: 20px;
	vertical-align: middle;
}

h1 {
	font-size: 50px;
	text-align: center;
	margin: 0;
	padding-top: 20px;
	color: #83adb5;
}

#motto {
	font-family: 'Raleway', sans-serif;
	font-size: 20px;
	margin: 0;
	color: #0892d0;
}

h2 {
	text-align: center;
	color: #2e4045;
}

ul {
	font-family: 'Raleway', sans-serif;
	text-align: center;
	list-style-type: none;
	margin: 0;
	padding: 0;
	background-color: #4b86b4;
	display: block;
}

li a {
	display: block;
	color: #000;
	padding: 14px 16px;
	text-decoration: none;
}

li a:hover {
	background-color: #2e4045;
	color: white;
}

#active {
	background-color: #2e4045;
	color: white;
}

#heroImage {
	width: 100%;
}

/* Small screen size */

@media only screen and (max-width: 800px) {

	#mainMenu {
		display: none;
	}

	#menuButton {
		display: block;
	}
}