header {
	width: 500px;
	margin: auto;
	font-family: 'Raleway', sans-serif;
	background-color: #2e4045;
	text-align: center;
}

h1 {
	font-size: 40px;
	margin: 0;
	padding-top: 20px;
	color: #83adb5;
}

.motto {
	font-family: 'Raleway', sans-serif;
	font-size: 15px;
	margin: 0;
	color: #0892d0;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	background-color: #4b86b4;
	display: block;
}

li a {
  display: block;
  color: #000;
  padding: 8px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #2e4045;
  color: white;
}

.active {
	background-color: #2e4045;
	color: white;
}
