/* Medium screen size */

@media only screen and (min-width: 600px) {

  #fiveDayForecast {
    display: none;
  }
    
  #mapLarge {
    display: none;
  }

  /* Gallery images */

  .imageContainer { 
      grid-template-columns: repeat(2, 1fr);
  }
}