body, html {
    height: 100%;
    margin: 0;
    font-family: 'Cardo', serif;
}

main h1 {
    font-family: 'Cinzel', serif;
}

#logo {
    display: block;
    margin: auto;
    width: 10%;
    min-width: 20em;
    padding: 20px;
}

nav {
    margin: auto;
    background-color: #dcd0c0;
}

.main-menu {
    list-style: none;
    text-align: center;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

.main-menu li:first-child {
    display: block;
}

.main-menu li {
    display: none;
}

.main-menu a {
    display: block;
    font-size: 150%;
    color: #53565b;
    padding: 14px 16px;
    text-align: center;
    text-decoration: none;
}

.main-menu a:visited {
    color: #53565b;
}

.main-menu a:hover {
    color: #fff;
}

#active {
    color: #fff;
}

.responsive li {
    display: block;
}

.hero-image {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/salt_lake_temple_1200.jpg");
    height: 40%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.hero-text {
    font-family: 'Cinzel', serif;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

.button {
    text-decoration: none;
    border: none;
    outline: 0;
    display: inline-block;
    padding: 10px 25px;
    color: black;
    background-color: #ddd;
    text-align: center;
    font-size: 125%;
    font-weight: bold;
    cursor: pointer;
}

.button:visited {
    color: black;
}

.button:hover {
    background-color: #555;
    color: white;
}

#temple-spotlight {
    background-color: #dcd0c0;
    padding-left:;
    margin-top: 30px;
    padding: 30px 50px;
    overflow: auto;
}

#article-image {
    float: right;
    width: 50%;
    margin: auto;
}

#temple-spotlight h3 {
    font-family: 'Cinzel', serif;
    font-size: 175%;
    padding-left: 20px;
    margin: 0;
}

#temple-spotlight p {
    font-size: 150%;
    line-height: 150%;
    padding-left: 20px;
}

.occasion-gallery h1 {
    font-size: 250%;
    text-align: center;
}

.occasion-gallery h3 {
    text-align: center;
}

.image-container {
    width: 90%;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: minmax(100px, auto);
    justify-items: center;
}

.image-container div {
    padding: 1em;
    padding-bottom: 30px;
}

.image-box img {
    width: 100%;
    border-radius: 8px;
}

.business-name {
    font-family: 'Cinzel', serif;
    font-size: 100%;
}

.footer-info {
    background-color: #373737;
    padding: 1px;
    text-align: center;
    vertical-align: middle;
    font-size: 18px;
    color: #fff;
}

.footer-info a:link, a:visited {
    text-decoration: none;
    color: #fff;
}

.footer-info a:hover {
    font-weight: bold;
}

/* Contact page */

.contact-header h1,
.contact-header h3 {
    text-align: center;
}

.form-container {
    display: flex;
    padding: 1em;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form-container label {
    font-weight: 700;
}

input[type=email],
input[type=number],
input[type=tel],
input[type=text],
select, 
textarea {
    width: 50%;
    padding: 15px;
    margin: 2px 0 22px 0;
    display: inline-block;
    border: solid 1px #000;
    background: #f4f4f4;
}

.map-container {
    background-color: #dcd0c0;
    margin-top: 20px;
    margin-bottom: 30px;
    font-size: 125%;
}

.google-map {
    height: 35%;
    padding: 30px;
    overflow: auto;
}

.google-map iframe {
    width: 65%;
    float: right;
}

/* Success Page */

.contact-submit {
    text-align: center;
    padding: 75px;
}

.animate-reveal {
    font: bold 1.5em;
    font-size: 175%;
    letter-spacing: 2px;
    opacity: 0;
    -webkit-animation: reveal 1s cubic-bezier(0, 1, .5, 1) 1 normal forwards;
    -moz-animation: reveal 1s ease-in 1 normal forwards;
    -o-animation: reveal 1s cubic-bezier(0, 1, .5, 1) 1 normal forwards;
    animation: reveal 1s cubic-bezier(0, 1, .5, 1) 1 normal forwards
}

.animate-first {
    -webkit-animation-delay: 0s;
    -moz-animation-delay: 0s;
    -o-animation-delay: 0s;
    animation-delay: 0s
}

.animate-second {
    -webkit-animation-delay: .5s;
    -moz-animation-delay: .5s;
    -o-animation-delay: .5s;
    animation-delay: .5s
}

.animate-third {
    -webkit-animation-delay: 1s;
    -moz-animation-delay: 1s;
    -o-animation-delay: 1s;
    animation-delay: 1s
}

@-webkit-keyframes reveal {
    0% {
        opacity: 0;
        -webkit-transform: translateY(100%);
        -moz-transform: translateY(100%);
        -o-transform: translateY(100%);
        transform: translateY(100%)
    }
    100% {
        opacity: 1;
        -webkit-transform: translateY(0);
        -moz-transform: translateY(0);
        -o-transform: translateY(0);
        transform: translateY(0)
    }
}

@-moz-keyframes reveal {
    0% {
        opacity: 0;
        -webkit-transform: translateY(100%);
        -moz-transform: translateY(100%);
        -o-transform: translateY(100%);
        transform: translateY(100%)
    }
    100% {
        opacity: 1;
        -webkit-transform: translateY(0);
        -moz-transform: translateY(0);
        -o-transform: translateY(0);
        transform: translateY(0)
    }
}

@-o-keyframes reveal {
    0% {
        opacity: 0;
        -webkit-transform: translateY(100%);
        -moz-transform: translateY(100%);
        -o-transform: translateY(100%);
        transform: translateY(100%)
    }
    100% {
        opacity: 1;
        -webkit-transform: translateY(0);
        -moz-transform: translateY(0);
        -o-transform: translateY(0);
        transform: translateY(0)
    }
}

@keyframes reveal {
    0% {
        opacity: 0;
        -webkit-transform: translateY(100%);
        -moz-transform: translateY(100%);
        -o-transform: translateY(100%);
        transform: translateY(100%)
    }
    100% {
        opacity: 1;
        -webkit-transform: translateY(0);
        -moz-transform: translateY(0);
        -o-transform: translateY(0);
        transform: translateY(0)
    }
}

/* Temple page */

.temple-header h1,
.temple-header h3 {
    text-align: center;
}

.image-container-temple {
    width: 90%;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: minmax(100px, auto);
    justify-items: center;
    padding: 30px;
}

.image-container-temple a {
    text-decoration: none;
    color: black;
}

.image-container-temple div {
    padding: 1em;
}

.image-container-temple h3 {
    text-align: center;
}

.image-box-temple img {
    width: 100%;
    border-radius: 8px;
}

.image-box-temple:hover {
    box-shadow: 0 0 50px #333;
}

/* Palmyra Temple page */

.hero-image-palmyra {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/palmyra_temple_800.jpg");
    height: 25%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

/* Provo City Center Temple page */

.hero-image-provo-city-center {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/provo_city_center_temple_800.jpg");
    height: 25%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

/* Atlanta Temple page */

.hero-image-atlanta {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/atlanta_temple_800.jpg");
    height: 25%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

/* Portland Temple page */

.hero-image-portland {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/portland_temple_800.jpg");
    height: 25%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

/* Temple page general layout */

.back-button {
    text-align: center;
    padding-top: 30px;
}

.temple-info-container {
    padding: 30px;
}

.temple-info {
    display: block;
    background-color: #dcd0c0;
    margin-top: 20px;
    margin-bottom: 30px;
    padding: 40px;
    column-count: 2;
    column-gap: 40px;
    column-rule: 1px solid black;
    font-size: 140%;
}

.temple-info h4 {
    margin: 0;
}

.temple-info p {
    margin: 0;
}

.column-break {
    break-after: column;
    visibility: hidden;
}

.more-info-button {
    text-align: center;
    padding-bottom: 30px;
}

/* Reservation page */

input[type=date] {
    width: 50%;
    padding: 15px;
    margin: 2px 0 22px 0;
    display: inline-block;
    border: solid 1px #000;
    background: #f4f4f4;
}

/* Services page */

.hero-image-services {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/hotel_services_1200.jpg");
    height: 40%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.services-button {
    text-align: center;
    padding-top: 30px;
    padding-bottom: 20px;
}

.button1 {
    text-decoration: none;
    border: none;
    outline: 0;
    display: inline-block;
    padding: 10px 25px;
    color: black;
    background-color: #ddd;
    text-align: center;
    font-size: 125%;
    font-weight: bold;
    cursor: pointer;
    margin-top: 20px;
    margin-right: 50px;
}

.button1:visited {
    color: black;
}

.button1:hover {
    background-color: #555;
    color: white;
}

.button2 {
    text-decoration: none;
    border: none;
    outline: 0;
    display: inline-block;
    padding: 10px 25px;
    color: black;
    background-color: #ddd;
    text-align: center;
    font-size: 125%;
    font-weight: bold;
    cursor: pointer;
    margin-top: 20px;
    margin-left: 50px;
}

.button2:visited {
    color: black;
}

.button2:hover {
    background-color: #555;
    color: white;
}

.room-header h1,
.room-header h3 {
    padding-top: 20px;
    text-align: center;
}

.image-container-rooms {
    width: 90%;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: minmax(100px, auto);
    justify-items: center;
    padding: 30px;
}

.image-container-rooms a {
    text-decoration: none;
    color: black;
}

.image-container-rooms div {
    padding: 1em;
}

.image-container-rooms h3 {
    text-align: center;
}

.image-box-rooms img {
    width: 100%;
    border-radius: 8px;
}

/* Reception page */

.hero-image-reception {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/reception_1200.jpg");
    height: 40%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.reception-button {
    text-align: center;
    padding-top: 50px;
    padding-bottom: 40px;
}

.reception-header {
    text-align: center;
    margin: 20px;
    padding-bottom: 20px;
}

.reception-services-container-1,
.reception-services-container-2 {
    display: flex;
    flex-wrap: nowrap;
    padding-bottom: 40px;
}

.reception-services-image {
    width: 80%;
    margin: 20px;
    border-radius: 8px;
}

.reception-box-1 {
    width: 50%;
    margin: auto;
    text-align: center;
    line-height: 35px;
    font-size: 25px;
}

.reception-box-2 {
    text-align: center;
    width: 50%;
    margin: auto;
}

/* Missionary page */

.hero-image-missionary {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/temple_missionaries_1200.jpg");
    height: 40%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.missionary-button {
    text-align: center;
    padding-top: 50px;
    padding-bottom: 40px;
}

.missionary-header {
    text-align: center;
    margin: 20px;
    padding-bottom: 20px;
}

.missionary-services-container-1,
.missionary-services-container-2 {
    display: flex;
    flex-wrap: nowrap;
    padding-bottom: 40px;
}

.missionary-services-image {
    width: 80%;
    margin: 20px;
    border-radius: 8px;
}

.missionary-box-1 {
    width: 50%;
    margin: auto;
    text-align: center;
    line-height: 35px;
    font-size: 25px;
}

.missionary-box-2 {
    text-align: center;
    width: 50%;
    margin: auto;
}

/* Resources page */

.resource-container {
    margin-top: 100px;
    margin-bottom: 300px;
}

.resource {
    text-align: center;
}

/* Small/Mobile view */

@media only screen and (max-width:600px) {

    .occasion-gallery h3 {
        padding: 30px;
    }

    /* reception page */

    .reception-services-container-1 {
        display: flex;
        flex-wrap: nowrap;
        flex-direction: column-reverse;
        padding-bottom: 40px;
    }

    .reception-services-container-2 {
        display: flex;
        flex-wrap: nowrap;
        flex-direction: column;
        padding-bottom: 40px;
    }

    .reception-box-1 {
        width: 90%;
    }

    .reception-box-2 {
        width: 90%;
    }

    /* Missionary page */

    .missionary-services-container-1 {
        display: flex;
        flex-wrap: nowrap;
        flex-direction: column-reverse;
        padding-bottom: 40px;
    }

    .missionary-services-container-2 {
        display: flex;
        flex-wrap: nowrap;
        flex-direction: column;
        padding-bottom: 40px;
    }

    .missionary-box-1 {
        width: 90%;
    }

    .missionary-box-2 {
        width: 90%;
    }

}